@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
    --primary-color: #fff;
    --secondary-color: #242424;
    --heroBtn: #fff;
    --heroBtnColor: #000;
    --heroBtnBorder: #fff;
    --aboutBackground: #1b1c1e;
    --aboutBg: #000;
    --aboutPara: #cfcfcf;
    --aboutBtn: #000;
    --serviceCard: #1b1c1e;
    --visionIcon: #fff;
    --plus: #585858;
    --details: hsla(0, 0%, 100%, .6);
    --contactBg: #242424;
    --input: #0b0b0b;
    --border: #8a8a8a
}

:root.light {
    --primary-color: #000;
    --secondary-color: #272e5c;
    --heroBtn: #000;
    --heroBtnColor: #fff;
    --heroBtnBorder: transparent;
    --aboutBackground: #e2f2ff;
    --aboutBg: #fcfbf7;
    --aboutPara: rgba(57, 57, 57, .9);
    --aboutBtn: #fff;
    --serviceCard: #fff;
    --visionIcon: #272e5c;
    --plus: #0091ff;
    --details: rgba(0, 0, 0, .6);
    --contactBg: #fcfbf7;
    --input: #ededed;
    --border: #717171
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    background-color: #000
}

h4 {
    font-family: Poppins, sans-serif
}

h1,
h2 {
    font-family: Raleway, sans-serif
}

a {
    text-decoration: none
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 69;
    width: 100%
}

input:focus,
select:focus,
textarea:focus {
    outline: none
}

.themeBtn {
    background-color: transparent;
    border: 0
}

.nav {
    display: flex;
    overflow: hidden;
    padding: .25rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: hsla(0, 0%, 100%, .7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .3)
}

.hidden {
    top: -200px !important
}

.navImg {
    height: 80px;
    width: 90px;
    margin-top: 7.5px
}

.imgLink {
    max-width: 90px;
    max-height: 80px
}

.nav__menu-bar {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer
}

.nav__menu-bar div {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px
}

.nav__menu-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 90px;
    width: 288px;
    right: -288px;
    row-gap: 30px;
    padding: 24px 16px;
    min-height: calc(100vh - 90px);
    background-color: #000;
    transition: all 0s;
    z-index: 100
}

.nav__menu-list.active {
    right: 0;
    display: flex
}

.nav__link {
    font-size: 18px;
    position: relative;
    transition: all .2s;
    color: #fff;
    font-weight: 400
}

.nav__link.active {
    font-weight: bolder;
    background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%)) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important
}

.nav__link:hover {
    font-weight: 700;
    background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

@media (min-width: 1000px) and (max-width:1200px) {

    .nav img,
    .nav__menu-list {
        scale: .85
    }
}

@media (min-width: 800px) and (max-width:1000px) {

    .nav img,
    .nav__menu-list {
        scale: .7
    }

    .nav {
        padding: 0 2rem !important
    }
}

@media (max-width: 440px) {

    .nav__link,
    .switch {
        color: #fff !important
    }
}

@media screen and (min-width: 760px) {
    .nav {
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        background: hsla(0, 0%, 100%, .4);
        padding: .25rem 5rem
    }

    .nav__link {
        color: #000;
        font-size: 16px
    }

    .nav__menu-bar {
        display: none
    }

    .nav__menu-list {
        display: flex;
        position: unset;
        min-height: -moz-fit-content;
        min-height: fit-content;
        width: -moz-fit-content;
        width: fit-content;
        flex-direction: row;
        align-items: center;
        column-gap: 30px;
        background-color: transparent
    }

    .nav__link:before {
        content: "";
        position: absolute;
        width: 0;
        bottom: -8px;
        left: 0;
        height: 4px;
        transition: all .2s;
        border-radius: 20px
    }

    .nav__link.active:before,
    .nav__link:hover:before,
    header {
        width: 100%
    }
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
    background-clip: content-box;
    border-radius: 20px
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite
}

@keyframes pulse {

    0%,
    to {
        opacity: 1
    }

    50% {
        opacity: .5
    }
}

.NewNavbar_nav_cont__jarEP {
    background: hsla(0, 11%, 88%, .06);
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px)
}

.NewNavbar_nav_cont__jarEP,
.NewNavbar_nav_cont_dark__jxRzF {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem 0;
    z-index: 99;
    transition: .5s
}

.NewNavbar_nav_cont_dark__jxRzF {
    background-color: #fff
}

.NewNavbar_nav_block__Kt2BG {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center
}

.NewNavbar_nav_tabs__tFwbQ {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    font-size: larger;
    cursor: pointer
}
